body{
  

}
.row-content h2,
.row-content p {
  color: rgba(0, 0, 0, 0.5);
}
.text {
  opacity: 0.5;
}

/* Customize the navbar */
.navbar {
  background-color: #271b1b;
  color: white;
}

.navbar a {
  color: white;
}

footer {
  background-color: #c91313;
  color: rgb(12, 23, 187);
}

footer a {
  color: rgb(226, 171, 20);
}
.carousel {
  border: solid #000000;
  width: 100%;
  height: 100%;
  
}
.carousel-item img {
  width: 100%;
  height: 100%;
}
.row-content {
  padding: 25px 0;
  min-height: 25px; } 



  .footer {
    position: relative;
    width: 100%;
    background: #000000;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
 
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #af4c4c;
    color: white;
  }
  



